:root{
    
   --primary-colour: #fcf9f9;
    --secondary-colour: hsl(240, 5%, 4%);
    --star-colour: hsl(38 90% 55%);
  }
  
  *{
    margin: 0;
    padding: 0;
    transition: .3s;
    box-sizing: border-box;
  }
  
  body{
   
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: var(--primary-colour);
    font-family: sans-serif;
    color: #0a0f0f;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #header{
    margin-top: 23px;
    margin-left: 15px;
  }
  #rating{
    height: 500px;
    width: 400px;
    border: 1px solid black;
    box-shadow: 1px 1px 2px rgb(15, 13, 13);
    
  }
  textarea:hover{
    box-shadow: 2px 2px 2px rgb(8, 65, 75);
    border-radius: 4px;
  }
  .submit {
   height: 40px;
   width: 300px;
    background: rgb(5, 8, 8);
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 20px;
    margin-left: 45px;
    margin-top: 20px;
    color: white;
}
  .container{
    position: relative;
    top: 20%;
    left: 50%;
    width: 50%;
    height: 30%;
    
    transform: translate(-50%, -50%) rotateY(180deg);
  }
  
  .container .container__items{
    display: flex;
    align-items: center;
    justify-content: center;
    
    gap: 0 .5em;
/*     
    width: 100%;
    height: 100%; */
  }
  
  .container .container__items input{
    display: none;
  }
  
  .container .container__items label{
    width: 20%;
    aspect-ratio: 1;
    cursor: pointer;
  }
  
  .container .container__items label .star-stroke{
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    background: var(--secondary-colour);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  }
  
  .container .container__items label .star-stroke .star-fill{
    width: 70%;
    aspect-ratio: 1;
    background: var(--primary-colour);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  }
  
  .container .container__items input:hover ~ label .star-stroke,.container .container__items input:checked ~ label .star-stroke{
    background: var(--star-colour);
  }
  
  .container .container__items input:checked ~ label .star-stroke .star-fill{
    background: var(--star-colour);
  }
  
  .container .container__items label:hover .label-description::after{
    content: attr(data-content);
    position: fixed;
    left: 0;
    right: 0;
    margin-top: 1em;
    margin-inline: auto;
    width: 100%;
    height: 2em;
    color: #080606;
    text-align: center;
    font-size: 20px;
    transform: rotateY(180deg);
  }